{% extends 'base.html' %}

{% block head %}
	<title>About me</title>
{% endblock %}

{% block main %}
	<div class="main">
		<div class="about-page-content">
			<img src="../static/images/programmer2.png" alt="">
			<h1>About</h1>
			<h3>onsectetur adipiscing elit</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus vehicula velit, non suscipit lectus blandit non. Nullam cursus vestibulum velit sit amet varius. Duis vel aliquam nibh. Maecenas ut lectus mollis felis porttitor posuere et eu nibh. Suspendisse et venenatis ligula, eget eleifend nunc</p>
			<span><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7d71a69b0972600acf38ca819bc674a70a4dc1dc6afd8678be8b1d529d53b791&amp;width=622&amp;height=424&amp;lang=ru_RU&amp;scroll=true"></script></span>
			
		</div>
	</div>
{% endblock %}