{% extends 'base.html' %}

{% block head %}
	<title>About me</title>
{% endblock %}

{% block main %}
	<div class="main">
		<div class="about-page-content">
			<img src="../static/images/programmer2.png" alt="">
			<h1>Обо Мне</h1>
			<h3>Я начинающий кодер Илья Куманейкин</h3>
			<p>Всем привет, я начинающий кодер хочу развиваться в ту сторону, где много денег</p>
			<span><script type="text/javascript" charset="utf-8" async src="https://yandex.com/maps/37133/novocheboksarsk/search/карты/?azimuth=0.06503376400668548&ll=47.458720%2C56.123472&sctx=ZAAAAAgBEAAaKAoSCXoAi%2Fz6kRNAET49tmXAL0pAEhIJzcth9x3Dzz8R%2B1jBb0OMuz8iBgABAgMEBSgKOABAxVZIAWoCcnWdAc3MzD2gAQCoAQC9AQdK777CAXO8tPCfhQWI5qLBBPbftebLA5yMpuQPr%2BfcggSkitvqA43Q%2Bc2rBs34y8QTjLXF%2FFaEw8PdBMfSrJ%2BiBIGtk43pA9vXkcgEqeuL6ogD1ueZgwTFvZjjBNfz9baFBPKSkOy6BrLAoJWAB9iXxLPqAcSd2tUGggIK0LrQsNGA0YLRi4oCAJICAJoCDGRlc2t0b3AtbWFwc9oCKAoSCWDD0ytl00dAEbbY8MWlBExAEhIJYMZNDTR%2FDEARAHSPdB%2FT8z%2FgAgE%3D&sll=47.256309%2C56.131298&source=serp_navig&sspn=0.069480%2C0.024107&z=11.19;width=622&amp;height=424&amp;lang=ru_RU&amp;scroll=true"></script></span>
			
		</div>
	</div>
{% endblock %}