{% extends 'base.html' %}

{% block head %}
	<title>Projects</title>
{% endblock %}

{% block main %}
	<div class="main">
		<div class="projects-page-content">
			{% if projects %}
				{% for p in projects %}
					<div class="card">
						<div class="part">
							<h3>{{ p[1] }}</h3>
							<p>{{ p[2] }}</p>
							<a href="{{p [4] }}" target="_blank">GitHub page</a>
						</div>
						<div class="part">
							<img src="../static/images/{{ p[3] }}" alt="">
						</div>
					</div>
				{% endfor %}
			{% else %}
				<h2 style="text-align: center;">Not found projects</h2>
			{% endif %}
		</div>
	</div>
{% endblock %}